h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #f59421;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 50px;
    color: #f59421;
}

.img {
    display: flex;
    justify-content: center;
    text-align: center;
}

.img img {
    width: 280px;
    height: 350px;
}

.quote {
    text-align: center;
}